.bar {
  /* translate(3vw, 20vh) */
  /* transform: scale(1.3) translate(100%, 10%); */
}

.pie {
  /* transform: scale(1.01) translate(70%, 10%); */
  /* translate(6vw, 30vh) */
  /* transform: translate(10vw); */
}

.tree {
  transform: scale(0.8) scaleX(1.1) scaleY(0.9) translate(15%, -6%);
  /* translate(6vw, 30vh) */
  /* transform: translate(10vw); */
}

.tree > svg > svg > g > text {
  /*font-weight: bold;*/
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  stroke: rgb(26, 25, 25);
  stroke-width: 1px;
  fill: black;
  /* translate(6vw, 30vh) */
  /* transform: translate(10vw); */
}
