.bar-chart-svg > svg {
  position:absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
  /* transform: translate(10vw); */
}


.pie   > svg {

  position:absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
}

.tree  > svg {

  position:absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
}

.bar  > svg {

  position:absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
}
